# 1 Preliminaries

## 1.0 Context

* About Seattle dataframe 
* Small dÃ©mo of gargaml usage

## 1.1 System

In [1]:
!pwd

/home/alex/gargaml/examples

In [2]:
cd ..

/home/alex/gargaml

In [3]:
!pwd

/home/alex/gargaml

In [4]:
!ls

CHANGELOG.md  examples	logs		README.md	  setup.py
docs	      gargaml	models		requirements.txt  tests
env	      LICENSE	pyproject.toml	results		  utils

In [5]:
!uname -a

Linux asus2023 6.2.0-20-generic #20-Ubuntu SMP PREEMPT_DYNAMIC Thu Apr  6 07:48:48 UTC 2023 x86_64 x86_64 x86_64 GNU/Linux

In [6]:
!which python

/home/alex/gargaml/env/bin/python

## 1.2 Install

In [7]:
# if needed :

# !pip install -r requirements.txt

In [8]:
# if needed :

# !pip freeze > requirements.freeze

## 1.3 Import

In [9]:
# in one line :

from gargaml import *

WARNING:root:path is /home/alex/gargaml

In [10]:
# or manually :

# import random, os, sys, warnings, datetime, time, logging
# from IPython.display import display
# # pandarallel

# import pandas as pd
# import numpy as np

# import scipy as sp
# import scipy.stats as st

# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go
# import plotly.io as pio
# import missingno as msno


# from sklearn.base import *

# from sklearn.feature_selection import *
# from sklearn.feature_extraction import *
# from sklearn.preprocessing import *
# from sklearn.pipeline import *
# from sklearn.covariance import *
# from sklearn.decomposition import *
# from sklearn.model_selection import *
# from sklearn.impute import *
# from sklearn.metrics import *
# from sklearn.cluster import *
# from sklearn.compose import *

# from sklearn.dummy import *
# from sklearn.linear_model import *
# from sklearn.svm import *
# from sklearn.neighbors import *
# from sklearn.ensemble import *


# from imblearn.under_sampling import RandomUnderSampler
# from imblearn.pipeline import Pipeline

# from xgboost import XGBRegressor, XGBRFRegressor

# ...

## 1.4 Data

In [11]:
# all datasets avialable :

Data.load.list_all

['ames',
 'boston',
 'fashion',
 'food',
 'house',
 'hr',
 'iris',
 'mnist',
 'seattle',
 'titanic',
 'wine']

In [12]:
# seattle 2016 :

df = Data.load.seattle(year="2016", preclean=True)
df.head(2)

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1.0,12,0,88434,60.0,7226362.5,1,1,1,0,7369.500000,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1.0,11,1,88502,61.0,8387933.0,0,1,1,0,8045.636364,88502.0

## 1.5 Options and Graphics

In [13]:
# boot seaborn  :

sns.set()

In [14]:
# usefull consts :

DISPLAY = True
FRAC = 1.0
LAZY = False

In [15]:
# warning messages :

warnings.filterwarnings(action="once")

# or :
# warnings.filterwarnings('ignore')

In [16]:
# if png and not fancy graphs with plotly :

# pio.renderers.default = "png"

## 1.6 Third parties and utils

In [17]:
# placeholder

In [18]:
results = ML.results("test")

## 1.7 Functions and class

In [19]:
# placeholder

# 2 First Tour

## 2.1 Display

In [20]:
# display df :

EDA.first_tour.display(df)

----HEAD ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1.0,12,0,88434,60.0,7226362.5,1,1,1,0,7369.500000,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1.0,11,1,88502,61.0,8387933.0,0,1,1,0,8045.636364,88502.0
2,Hotel,DOWNTOWN,47.61393,-122.33810,1969,1.0,41,1,759392,43.0,72587024.0,1,1,1,0,18521.756098,759392.0
3,Hotel,DOWNTOWN,47.61412,-122.33664,1926,1.0,10,0,61320,56.0,6794584.0,1,1,1,0,6132.000000,61320.0
4,Hotel,DOWNTOWN,47.61375,-122.34047,1980,1.0,18,1,113580,75.0,14172606.0,0,1,1,0,6310.000000,113580.0

----SAMP ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
1642,Low-Rise Multifamily,North,47.711200,-122.327030,1987,1.0,3,0,112424,90.0,2.455924e+06,0,1,0,0,37474.666667,112424.0
1373,Worship Facility,EAST,47.603219,-122.320557,1922,1.0,2,0,22688,87.0,3.316750e+05,0,1,1,0,11344.000000,22688.0
3084,Senior Care Community,EAST,47.500619,-122.220966,1995,1.0,3,0,124930,98.0,6.723972e+06,0,1,1,0,41643.333333,124930.0
2918,Distribution Center,GREATER DUWAMISH,47.533790,-122.330630,1979,1.0,1,0,36982,NaN,3.747538e+05,0,1,1,1,36982.000000,36982.0
2342,Worship Facility,EAST,47.623220,-122.320017,1906,1.0,1,0,26440,91.0,7.199052e+05,0,1,1,0,26440.000000,26440.0
1030,Retail Store,GREATER DUWAMISH,47.574030,-122.333600,1914,1.0,1,0,20000,75.0,5.578637e+05,0,1,0,0,20000.000000,20000.0
64,Hotel,EAST,47.608980,-122.326930,1908,1.0,7,0,76631,71.0,7.258758e+06,0,1,1,0,10947.285714,76631.0
1756,High-Rise Multifamily,EAST,47.610560,-122.325250,1982,1.0,17,0,76855,10.0,2.718223e+06,0,1,0,0,4520.882353,76855.0
826,Low-Rise Multifamily,DOWNTOWN,47.617890,-122.346580,1925,1.0,3,0,33880,64.0,2.204161e+06,0,1,1,0,11293.333333,33880.0
1401,Low-Rise Multifamily,MAGNOLIA / QUEEN ANNE,47.623860,-122.361690,1990,1.0,4,0,46800,92.0,8.477999e+05,0,1,0,0,11700.000000,46800.0

----TAIL ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
3371,Office,GREATER DUWAMISH,47.56722,-122.31154,1990,1.0,1,0,12294,46.0,8.497457e+05,0,1,1,0,12294.0,12294.0
3372,Other,DOWNTOWN,47.59625,-122.32283,2004,1.0,1,0,16000,NaN,9.502762e+05,0,1,1,1,16000.0,16000.0
3373,Other,MAGNOLIA / QUEEN ANNE,47.63644,-122.35784,1974,1.0,1,0,13157,NaN,5.765898e+06,0,1,1,1,13157.0,13157.0
3374,Mixed Use Property,GREATER DUWAMISH,47.52832,-122.32431,1989,1.0,1,0,14101,NaN,7.194712e+05,0,1,1,1,14101.0,14101.0
3375,Mixed Use Property,GREATER DUWAMISH,47.53939,-122.29536,1938,1.0,1,0,18258,NaN,1.152896e+06,0,1,1,1,18258.0,18258.0

## 2.2 Structure

In [21]:
# info :

EDA.first_tour.info(df)

'shape (3353, 17), memory 0.48MB'

'---- FLO ----'

                 cols    types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0            latitude  float64        0      0.00      2858       0.85   False
1           longitude  float64        0      0.00      2637       0.79   False
2   numberofbuildings  float64        0      0.00        16       0.00   False
3     energystarscore  float64      821      0.24       100       0.03   False
4  siteenergyuse_kbtu  float64        0      0.00      3353       1.00    True
5         gfaperfloor  float64        0      0.00      3259       0.97   False
6      gfaperbuilding  float64        0      0.00      3177       0.95   False

'---- INT ----'

                   cols  types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0             yearbuilt  int64        0       0.0       113       0.03   False
1        numberoffloors  int64        0       0.0        49       0.01   False
2    propertygfaparking  int64        0       0.0         2       0.00   False
3   propertygfabuilding  int64        0       0.0      3171       0.95   False
4         steamuse_kbtu  int64        0       0.0         2       0.00   False
5      electricity_kbtu  int64        0       0.0         2       0.00   False
6       naturalgas_kbtu  int64        0       0.0         2       0.00   False
7  bool_energystarscore  int64        0       0.0         2       0.00   False

'---- OBJ ----'

                  cols   types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0  primarypropertytype  object        0       0.0        24       0.01   False
1         neighborhood  object        0       0.0        19       0.01   False

In [22]:
# usefull dtype info :

df.dtypes.value_counts()

int64      8
float64    7
object     2
Name: count, dtype: int64

## 2.3 NaN and duplicated

In [23]:
# # mnso :

# EDA.nan.viz(df)

In [24]:
# nan rate by columns :

EDA.nan.rate(df)

energystarscore         0.245
primarypropertytype     0.000
gfaperfloor             0.000
bool_energystarscore    0.000
naturalgas_kbtu         0.000
electricity_kbtu        0.000
steamuse_kbtu           0.000
siteenergyuse_kbtu      0.000
propertygfabuilding     0.000
neighborhood            0.000
propertygfaparking      0.000
numberoffloors          0.000
numberofbuildings       0.000
yearbuilt               0.000
longitude               0.000
latitude                0.000
gfaperbuilding          0.000
dtype: float64

In [25]:
# filter on poor columns :

EDA.nan.rate(df, threshold=0.75)

Series([], dtype: float64)

In [26]:
# same for lines :

EDA.nan.rate(df, axis=1, threshold=0.5)

Series([], dtype: float64)

In [27]:
# about nan distribution by column :

EDA.nan.rate(df, axis=1, threshold=0.0).value_counts(normalize=True).round(2)

0.000    0.76
0.059    0.24
Name: proportion, dtype: float64

In [28]:
# duplicated :

df.duplicated().sum()

0

## 2.4 Data Inspection

In [29]:
# describe per type :

EDA.first_tour.describe(df)

---- FLO ----,latitude,longitude,numberofbuildings,energystarscore,siteenergyuse_kbtu,gfaperfloor,gfaperbuilding
count,3353.00,3353.00,3353.00,2532.00,3.353000e+03,3353.00,3353.00
mean,47.62,-122.33,1.13,67.91,5.432676e+06,26236.25,79907.18
std,0.05,0.03,2.11,26.87,2.166494e+07,166585.34,124694.68
min,47.50,-122.41,1.00,1.00,1.340900e+04,221.70,3636.00
25%,47.60,-122.35,1.00,53.00,9.353967e+05,8334.83,27140.00
50%,47.62,-122.33,1.00,75.00,1.813404e+06,13255.00,41834.00
75%,47.66,-122.32,1.00,90.00,4.233753e+06,24750.50,79957.00
max,47.73,-122.22,111.00,100.00,8.739237e+08,9320156.00,2200000.00

---- INT ----,yearbuilt,numberoffloors,propertygfaparking,propertygfabuilding,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore
count,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00
mean,1968.57,4.73,0.15,86605.34,0.04,1.00,0.63,0.24
std,33.14,5.51,0.36,207382.71,0.19,0.05,0.48,0.43
min,1900.00,1.00,0.00,3636.00,0.00,0.00,0.00,0.00
25%,1948.00,2.00,0.00,27690.00,0.00,1.00,0.00,0.00
50%,1975.00,4.00,0.00,43162.00,0.00,1.00,1.00,0.00
75%,1997.00,5.00,0.00,84385.00,0.00,1.00,1.00,0.00
max,2015.00,99.00,1.00,9320156.00,1.00,1.00,1.00,1.00

---- OBJ ----   primarypropertytype neighborhood
count                          3353         3353
unique                           24           19
top            Low-Rise Multifamily     DOWNTOWN
freq                            983          570

In [30]:
# # global correlation :

# _ = EDA.study.corr(df)

In [31]:
# # about distribution :

# EDA.study.skew(df)

In [32]:
# # pairplot :
# # WARNING : very long computation, avoid if possible else uncomment

# frac = 0.05
# sns.pairplot(df.sample(frac=frac), corner=True)

In [33]:
# # about outliers :

# EDA.study.outlier(df)

In [34]:
# # multi colinearity :

# EDA.study.vif(df, scale=True)

# 2.5 ACP

In [35]:
# _df = EDA.study.outlier(df, display_=False)
# _df = _df.loc[_df._outlier<0.5]
# _df.shape

In [36]:
# X = _df.drop(columns="siteenergyuse_kbtu")
# y = _df.siteenergyuse_kbtu

In [37]:
# pca = EDA.pca(X)

In [38]:
# _ = pca.variance()

In [39]:
# _ = pca.pcs()

In [40]:
# pca.correlation_graph([0, 1])

In [41]:
# pca.factorial_planes([0, 1])

In [42]:
# pca.factorial_planes([0, 1], clusters="primarypropertytype")

In [43]:
# pca.factorial_planes([0, 1, 2])

In [44]:
# pca.factorial_planes([0, 1, 2], clusters="primarypropertytype")

In [45]:
# pca.factorial_planes([0, 1, 2], clusters="neighborhood")

# 3. Modelisation

In [46]:
## data split

In [47]:
df

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1.0,12,0,88434,60.0,7.226362e+06,1,1,1,0,7369.500000,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1.0,11,1,88502,61.0,8.387933e+06,0,1,1,0,8045.636364,88502.0
2,Hotel,DOWNTOWN,47.61393,-122.33810,1969,1.0,41,1,759392,43.0,7.258702e+07,1,1,1,0,18521.756098,759392.0
3,Hotel,DOWNTOWN,47.61412,-122.33664,1926,1.0,10,0,61320,56.0,6.794584e+06,1,1,1,0,6132.000000,61320.0
4,Hotel,DOWNTOWN,47.61375,-122.34047,1980,1.0,18,1,113580,75.0,1.417261e+07,0,1,1,0,6310.000000,113580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,Office,GREATER DUWAMISH,47.56722,-122.31154,1990,1.0,1,0,12294,46.0,8.497457e+05,0,1,1,0,12294.000000,12294.0
3372,Other,DOWNTOWN,47.59625,-122.32283,2004,1.0,1,0,16000,NaN,9.502762e+05,0,1,1,1,16000.000000,16000.0
3373,Other,MAGNOLIA / QUEEN ANNE,47.63644,-122.35784,1974,1.0,1,0,13157,NaN,5.765898e+06,0,1,1,1,13157.000000,13157.0
3374,Mixed Use Property,GREATER DUWAMISH,47.52832,-122.32431,1989,1.0,1,0,14101,NaN,7.194712e+05,0,1,1,1,14101.000000,14101.0
3375,Mixed Use Property,GREATER DUWAMISH,47.53939,-122.29536,1938,1.0,1,0,18258,NaN,1.152896e+06,0,1,1,1,18258.000000,18258.0

In [48]:
data = Data.dataclass(df, "siteenergyuse_kbtu", test_size=0.33)
data

(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)

/home/alex/gargaml/gargaml/data/dataclass.py:38: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._train_tuple = train_tuple

DataClass(X=3353, train.X=2246, X.train=2246
X_train_size=2246, X_test_size=1107, X_val_size=0
y_train_size=2246, y_test_size=1107, y_val_size=0 )

In [49]:
data.X

(0, 2246)
(2246, None)
(-1, -1)

XX()

In [50]:
data.y

YY()

In [51]:
data.train.X

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
1669,Other,MAGNOLIA / QUEEN ANNE,47.63132,-122.34136,1920,1.0,2,0,27144,NaN,0,1,1,1,13572.000000,27144.0
2745,Low-Rise Multifamily,CENTRAL,47.59849,-122.29465,1967,1.0,2,0,24621,96.0,0,1,0,0,12310.500000,24621.0
1796,Low-Rise Multifamily,MAGNOLIA / QUEEN ANNE,47.62691,-122.35639,1915,1.0,4,0,24280,68.0,0,1,1,0,6070.000000,24280.0
14,Hotel,DOWNTOWN,47.60755,-122.33244,1922,1.0,11,1,66990,35.0,1,1,1,0,6090.000000,66990.0
2173,Low-Rise Multifamily,EAST,47.62183,-122.32715,1923,1.0,3,0,32292,98.0,0,1,1,0,10764.000000,32292.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,Small- and Mid-Sized Office,LAKE UNION,47.63376,-122.33968,1970,1.0,7,0,94002,70.0,0,1,0,0,13428.857143,94002.0
1563,Supermarket / Grocery Store,MAGNOLIA / QUEEN ANNE,47.64909,-122.37788,1961,1.0,1,0,25842,35.0,0,1,1,0,25842.000000,25842.0
41,K-12 School,NORTHWEST,47.68891,-122.33553,1954,1.0,3,0,175015,95.0,0,1,1,0,58338.333333,175015.0
331,Retail Store,BALLARD,47.66057,-122.36857,1999,1.0,1,0,164437,62.0,0,1,1,0,164437.000000,164437.0
1421,Low-Rise Multifamily,SOUTHWEST,47.52225,-122.37718,1988,1.0,3,1,25301,90.0,0,1,0,0,8433.666667,25301.0

In [52]:
data.train.y

1669    1.012024e+06
2745    5.988578e+05
1796    8.294406e+05
14      1.075001e+07
2173    1.003177e+06
            ...
444     5.662234e+06
1563    8.518313e+06
41      6.994740e+06
331     1.839034e+07
1421    6.739073e+05
Name: siteenergyuse_kbtu, Length: 2246, dtype: float64

In [53]:
token = secrets.token_hex(4)
display(token)

pipe = Pipeline(
    [
        ("imputer", KNNImputer()),
        ("scaler", StandardScaler()),
        ("estimator", RandomForestClassifier()),
    ]
)

param_grid = {
    "scaler": [
        StandardScaler(),
        # QuantileTransformer(n_quantiles=100),
        # Normalizer(),
        "passthrough",
    ],
    "estimator": [
        DummyRegressor(),
        # RandomForestRegressor(),
        # XGBRegressor(),
        LinearRegression(),
    ],
}

grid = GridSearchCV(
    pipe,
    param_grid=param_grid,
    cv=3,
    n_jobs=1,
    verbose=1,
    return_train_score=True,
)

grid

'02036682'

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('imputer', KNNImputer()),
                                       ('scaler', StandardScaler()),
                                       ('estimator',
                                        RandomForestClassifier())]),
             n_jobs=1,
             param_grid={'estimator': [DummyRegressor(), LinearRegression()],
                         'scaler': [StandardScaler(), 'passthrough']},
             return_train_score=True, verbose=1)

In [54]:
grid.fit(data.X.train.select_dtypes(include=np.number), data.y.train)

results.update(
    grid,
    token=token,
    y_log=0,
    get_dummies=0,
    verbose=0,
).head(5)

(0, 2246)
(2246, None)
(-1, -1)
Fitting 3 folds for each of 4 candidates, totalling 12 fits

/home/alex/gargaml/gargaml/data/dataclass.py:38: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._train_tuple = train_tuple

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
2,0.04,0.01,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",2.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,0.45,0.06,0.72,0.2
3,0.04,0.01,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",1.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,0.45,0.06,0.72,0.2
0,0.04,0.00,DummyRegressor(),StandardScaler(),"{'estimator': DummyRegressor(), 'scaler': Stan...",3.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,-0.00,0.00,0.00,0.0
1,0.04,0.00,DummyRegressor(),passthrough,"{'estimator': DummyRegressor(), 'scaler': 'pas...",3.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,-0.00,0.00,0.00,0.0

In [55]:
results.res

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
2,0.0414,0.0053,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",2.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,0.4463,0.0566,0.719,0.1962
3,0.0409,0.0069,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",1.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,0.4463,0.0566,0.719,0.1962
0,0.0384,0.0022,DummyRegressor(),StandardScaler(),"{'estimator': DummyRegressor(), 'scaler': Stan...",3.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,-0.0014,0.0013,0.000,0.0000
1,0.0364,0.0038,DummyRegressor(),passthrough,"{'estimator': DummyRegressor(), 'scaler': 'pas...",3.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,-0.0014,0.0013,0.000,0.0000

In [56]:
results.RES

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
2,0.0414,0.0053,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",2.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,0.4463,0.0566,0.719,0.1962

In [57]:
# token = secrets.token_hex(4)
# display(token)


# ##############


# pipe = Pipeline(
#     [
#         ("imputer", KNNImputer()),
#         ("scaler", StandardScaler()),
#         ("estimator", RandomForestClassifier()),
#     ]
# )


# ##############


# param_grid = {
#     "scaler": [
#         StandardScaler(),
#         QuantileTransformer(n_quantiles=100),
#         Normalizer(),
#         "passthrough",
#     ],
#     "estimator": [
#         DummyRegressor(),
#         RandomForestRegressor(),
#         XGBRegressor(),
#         LinearRegression(),
#     ],
# }


# ##############


# log_list = [
#     (0, data.y.train),
#     (1, np.log1p(data.y.train)),
# ]
# dummies = [
#     (0, data.X.train.select_dtypes(include=np.number)),
#     (1, pd.get_dummies(data.X.train)),
# ]


# for log, _y in log_list:
#     for dummy, _X in dummies:

#         logging.warning(log)
#         logging.warning(dummy)

#         grid = GridSearchCV(
#             pipe,
#             param_grid=param_grid,
#             cv=10,
#             n_jobs=1,
#             verbose=1,
#             return_train_score=True,
#         )

#         grid.fit(_X, _y)

#         results.update(
#             grid,
#             token=token,
#             y_log=log,
#             get_dummies=dummy,
#             verbose=1,
#         ).head(5)

In [58]:
results.RES

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
2,0.0414,0.0053,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",2.0,"GridSearchCV(cv=3,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-03 14:03:27,5f24f9a3,,7bb86665,0,0,0.4463,0.0566,0.719,0.1962

In [59]:
results.save()