# 1 Preliminaries

## 1.0 Context

* About Seattle dataframe 
* Small démo of gargaml usage

## 1.1 System

In [1]:
!pwd

/home/alex/gargaml/examples

In [2]:
cd ..

/home/alex/gargaml

In [3]:
!pwd

/home/alex/gargaml

In [4]:
!ls

CHANGELOG.md  examples	pyproject.toml	  results   utils
docs	      gargaml	README.md	  setup.py
env	      LICENSE	requirements.txt  tests

In [5]:
!uname -a

Linux asus2023 6.2.0-20-generic #20-Ubuntu SMP PREEMPT_DYNAMIC Thu Apr  6 07:48:48 UTC 2023 x86_64 x86_64 x86_64 GNU/Linux

In [6]:
!which python

/home/alex/gargaml/env/bin/python

## 1.2 Install

In [7]:
# if needed :

# !pip install -r requirements.txt

In [8]:
# if needed :

# !pip freeze > requirements.freeze

## 1.3 Import

In [9]:
# in one line :

from gargaml import *

WARNING:root:path is /home/alex/gargaml

In [10]:
# or manually :

# import random, os, sys, warnings, datetime, time, logging
# from IPython.display import display
# # pandarallel

# import pandas as pd
# import numpy as np

# import scipy as sp
# import scipy.stats as st

# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go
# import plotly.io as pio
# import missingno as msno


# from sklearn.base import *

# from sklearn.feature_selection import *
# from sklearn.feature_extraction import *
# from sklearn.preprocessing import *
# from sklearn.pipeline import *
# from sklearn.covariance import *
# from sklearn.decomposition import *
# from sklearn.model_selection import *
# from sklearn.impute import *
# from sklearn.metrics import *
# from sklearn.cluster import *
# from sklearn.compose import *

# from sklearn.dummy import *
# from sklearn.linear_model import *
# from sklearn.svm import *
# from sklearn.neighbors import *
# from sklearn.ensemble import *


# from imblearn.under_sampling import RandomUnderSampler
# from imblearn.pipeline import Pipeline

# from xgboost import XGBRegressor, XGBRFRegressor

# ...

## 1.4 Data

In [11]:
# all datasets avialable :

Loads.list_all

['boston',
 'ames',
 'seattle',
 'hr',
 'titanic',
 'house',
 'mnist',
 'food',
 'wine',
 'iris',
 'fashion']

In [12]:
# seattle 2016 :

df = Loads.seattle(year="2016")
df.head(2)

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86

## 1.5 Options and Graphics

In [13]:
# boot seaborn  :

sns.set()

In [14]:
# usefull consts :

DISPLAY = True
FRAC = 1.0
LAZY = False

In [15]:
# warning messages :

warnings.filterwarnings(action="once")

# or :
# warnings.filterwarnings('ignore')

In [16]:
# if png and not fancy graphs with plotly :

# pio.renderers.default = "png"

## 1.6 Third parties and utils

In [17]:
# placeholder

In [18]:
results = ML.results("test")

## 1.7 Functions and class

In [19]:
# placeholder

# 2 First Tour

## 2.0 Pre-cleaning

In [20]:
# about columns quality :

df.columns

Index(['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'Address', 'City', 'State', 'ZipCode',
       'TaxParcelIdentificationNumber', 'CouncilDistrictCode', 'Neighborhood',
       'Latitude', 'Longitude', 'YearBuilt', 'NumberofBuildings',
       'NumberofFloors', 'PropertyGFATotal', 'PropertyGFAParking',
       'PropertyGFABuilding(s)', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'LargestPropertyUseTypeGFA',
       'SecondLargestPropertyUseType', 'SecondLargestPropertyUseTypeGFA',
       'ThirdLargestPropertyUseType', 'ThirdLargestPropertyUseTypeGFA',
       'YearsENERGYSTARCertified', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)', 'DefaultData', 'Comments', 'ComplianceStatus',
       'Outlier', 'TotalGHGEmissions', 'GHGEmissionsIntensity'],
      dtype='object')

In [21]:
# clean columns :


def clean(txt):
    txt = txt.lower().strip()
    replace = [
        ("(s)", ""),
        ("(", "_"),
        (")", ""),
        ("/", "_"),
        ("__", "_"),
    ]

    for k, v in replace:
        txt = txt.replace(k, v)

    txt = txt.lower().strip()
    return txt


df.columns = map(clean, df.columns)
df.columns

Index(['osebuildingid', 'datayear', 'buildingtype', 'primarypropertytype',
       'propertyname', 'address', 'city', 'state', 'zipcode',
       'taxparcelidentificationnumber', 'councildistrictcode', 'neighborhood',
       'latitude', 'longitude', 'yearbuilt', 'numberofbuildings',
       'numberoffloors', 'propertygfatotal', 'propertygfaparking',
       'propertygfabuilding', 'listofallpropertyusetypes',
       'largestpropertyusetype', 'largestpropertyusetypegfa',
       'secondlargestpropertyusetype', 'secondlargestpropertyusetypegfa',
       'thirdlargestpropertyusetype', 'thirdlargestpropertyusetypegfa',
       'yearsenergystarcertified', 'energystarscore', 'siteeui_kbtu_sf',
       'siteeuiwn_kbtu_sf', 'sourceeui_kbtu_sf', 'sourceeuiwn_kbtu_sf',
       'siteenergyuse_kbtu', 'siteenergyusewn_kbtu', 'steamuse_kbtu',
       'electricity_kwh', 'electricity_kbtu', 'naturalgas_therms',
       'naturalgas_kbtu', 'defaultdata', 'comments', 'compliancestatus',
       'outlier', 'totalghgemissions', 'ghgemissionsintensity'],
      dtype='object')

In [22]:
# recast osebuildingid :

df.osebuildingid = df.osebuildingid.astype(str)
df.head(2)

,osebuildingid,datayear,buildingtype,primarypropertytype,propertyname,address,city,state,zipcode,taxparcelidentificationnumber,...,electricity_kwh,electricity_kbtu,naturalgas_therms,naturalgas_kbtu,defaultdata,comments,compliancestatus,outlier,totalghgemissions,ghgemissionsintensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86

In [23]:
df.steamuse_kbtu = df.steamuse_kbtu.apply(lambda i: i > 0).astype(int)
df.electricity_kbtu = df.electricity_kbtu.apply(lambda i: i > 0).astype(int)
df.naturalgas_kbtu = df.naturalgas_kbtu.apply(lambda i: i > 0).astype(int)

In [24]:
# select columns for faster and better analysis


cols = [
    "primarypropertytype",
    "neighborhood",
    "latitude",
    "longitude",
    "yearbuilt",
    "numberofbuildings",
    "numberoffloors",
    "propertygfaparking",
    "propertygfabuilding",
    "energystarscore",
    "siteenergyuse_kbtu",
    "steamuse_kbtu",
    "electricity_kbtu",
    "naturalgas_kbtu",
]


df = df.loc[:, cols]
df.head(3)

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1.0,12,0,88434,60.0,7226362.5,1,1,1
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1.0,11,15064,88502,61.0,8387933.0,0,1,1
2,Hotel,DOWNTOWN,47.61393,-122.33810,1969,1.0,41,196718,759392,43.0,72587024.0,1,1,1

In [25]:
for c in df.select_dtypes(object):
    df[c] = df[c].str.lower()

In [26]:
df = df.loc[df.propertygfabuilding.notna()]
df = df.loc[df.propertygfabuilding > 1, :]

df = df.loc[df.siteenergyuse_kbtu.notna()]
df = df.loc[df.siteenergyuse_kbtu > 1, :]

df

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu
0,hotel,downtown,47.61220,-122.33799,1927,1.0,12,0,88434,60.0,7.226362e+06,1,1,1
1,hotel,downtown,47.61317,-122.33393,1996,1.0,11,15064,88502,61.0,8.387933e+06,0,1,1
2,hotel,downtown,47.61393,-122.33810,1969,1.0,41,196718,759392,43.0,7.258702e+07,1,1,1
3,hotel,downtown,47.61412,-122.33664,1926,1.0,10,0,61320,56.0,6.794584e+06,1,1,1
4,hotel,downtown,47.61375,-122.34047,1980,1.0,18,62000,113580,75.0,1.417261e+07,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,office,greater duwamish,47.56722,-122.31154,1990,1.0,1,0,12294,46.0,8.497457e+05,0,1,1
3372,other,downtown,47.59625,-122.32283,2004,1.0,1,0,16000,NaN,9.502762e+05,0,1,1
3373,other,magnolia / queen anne,47.63644,-122.35784,1974,1.0,1,0,13157,NaN,5.765898e+06,0,1,1
3374,mixed use property,greater duwamish,47.52832,-122.32431,1989,1.0,1,0,14101,NaN,7.194712e+05,0,1,1
3375,mixed use property,greater duwamish,47.53939,-122.29536,1938,1.0,1,0,18258,NaN,1.152896e+06,0,1,1

In [27]:
df.numberofbuildings = df.numberofbuildings.fillna(1)
df.numberoffloors = df.numberoffloors.fillna(1)

# df.numberofbuildings = df.numberofbuildings.astype(int)
# df.numberoffloors = df.numberoffloors.astype(int)

df.numberofbuildings = df.numberofbuildings.replace({0: 1})
df.numberoffloors = df.numberoffloors.replace({0: 1})

# df.numberofbuildings = df.numberofbuildings.apply(lambda i : i if i>=1 else 1)
# df.numberoffloors = df.numberoffloors.apply(lambda i : i if i>=1 else 1)

df.propertygfaparking = df.propertygfaparking.apply(lambda i: i > 0).astype(int)
df["bool_energystarscore"] = df.energystarscore.isna().astype(int)

df["gfaperfloor"] = df.propertygfabuilding / df.numberoffloors
df["gfaperbuilding"] = df.propertygfabuilding / df.numberofbuildings

df.describe()

,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
count,3353.000000,3353.000000,3353.000000,3353.000000,3353.000000,3353.000000,3.353000e+03,2532.000000,3.353000e+03,3353.000000,3353.000000,3353.000000,3353.000000,3.353000e+03,3.353000e+03
mean,47.623913,-122.334796,1968.569937,1.134805,4.729198,0.150015,8.660534e+04,67.906003,5.432676e+06,0.038771,0.997614,0.627796,0.244855,2.623625e+04,7.990718e+04
std,0.047676,0.027158,33.135785,2.105019,5.505425,0.357139,2.073827e+05,26.871011,2.166494e+07,0.193078,0.048795,0.483464,0.430066,1.665853e+05,1.246947e+05
min,47.499170,-122.414250,1900.000000,1.000000,1.000000,0.000000,3.636000e+03,1.000000,1.340900e+04,0.000000,0.000000,0.000000,0.000000,2.216970e+02,3.636000e+03
25%,47.599850,-122.350560,1948.000000,1.000000,2.000000,0.000000,2.769000e+04,53.000000,9.353967e+05,0.000000,1.000000,0.000000,0.000000,8.334833e+03,2.714000e+04
50%,47.618610,-122.332490,1975.000000,1.000000,4.000000,0.000000,4.316200e+04,75.000000,1.813404e+06,0.000000,1.000000,1.000000,0.000000,1.325500e+04,4.183400e+04
75%,47.657010,-122.319500,1997.000000,1.000000,5.000000,0.000000,8.438500e+04,90.000000,4.233753e+06,0.000000,1.000000,1.000000,0.000000,2.475050e+04,7.995700e+04
max,47.733870,-122.220966,2015.000000,111.000000,99.000000,1.000000,9.320156e+06,100.000000,8.739237e+08,1.000000,1.000000,1.000000,1.000000,9.320156e+06,2.200000e+06

In [28]:
# df.primarypropertytype.value_counts()
df.primarypropertytype = df.primarypropertytype.replace(
    {"office": "small- and mid-sized office"}
)
df.primarypropertytype.value_counts()

primarypropertytype
low-rise multifamily           983
mid-rise multifamily           564
small- and mid-sized office    295
other                          253
warehouse                      187
large office                   173
mixed use property             132
k-12 school                    125
high-rise multifamily          105
retail store                    91
hotel                           77
worship facility                71
distribution center             53
senior care community           45
supermarket / grocery store     40
medical office                  39
self-storage facility           28
university                      25
residence hall                  23
refrigerated warehouse          12
restaurant                      12
hospital                        10
laboratory                      10
Name: count, dtype: int64

## 2.1 Display

In [29]:
# display df :

EDA.first_tour.display(df)

----HEAD ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,hotel,downtown,47.61220,-122.33799,1927,1.0,12,0,88434,60.0,7226362.5,1,1,1,0,7369.500000,88434.0
1,hotel,downtown,47.61317,-122.33393,1996,1.0,11,1,88502,61.0,8387933.0,0,1,1,0,8045.636364,88502.0
2,hotel,downtown,47.61393,-122.33810,1969,1.0,41,1,759392,43.0,72587024.0,1,1,1,0,18521.756098,759392.0
3,hotel,downtown,47.61412,-122.33664,1926,1.0,10,0,61320,56.0,6794584.0,1,1,1,0,6132.000000,61320.0
4,hotel,downtown,47.61375,-122.34047,1980,1.0,18,1,113580,75.0,14172606.0,0,1,1,0,6310.000000,113580.0

----SAMP ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
1813,low-rise multifamily,north,47.73360,-122.29434,1967,1.0,2,0,22382,67.0,678980.125,0,1,0,0,11191.000000,22382.0
2938,small- and mid-sized office,northwest,47.70349,-122.33424,1983,1.0,3,1,18396,87.0,624125.625,0,1,0,0,6132.000000,18396.0
2756,high-rise multifamily,downtown,47.60028,-122.32599,1973,1.0,12,0,76094,40.0,3634625.750,0,1,1,0,6341.166667,76094.0
2288,low-rise multifamily,northwest,47.71356,-122.35599,1967,1.0,3,0,25914,88.0,745575.000,0,1,1,0,8638.000000,25914.0
955,mid-rise multifamily,east,47.61255,-122.32390,1989,1.0,5,0,140778,81.0,2834238.500,0,1,0,0,28155.600000,140778.0
3273,other,southeast,47.56260,-122.29396,2009,1.0,1,0,40265,NaN,2159170.250,0,1,1,1,40265.000000,40265.0
1454,low-rise multifamily,northwest,47.69086,-122.35094,2000,1.0,4,0,35837,61.0,1073328.625,0,1,0,0,8959.250000,35837.0
41,k-12 school,northwest,47.68891,-122.33553,1954,1.0,3,0,175015,95.0,6994740.500,0,1,1,0,58338.333333,175015.0
795,low-rise multifamily,downtown,47.61519,-122.34674,1923,1.0,3,0,33440,38.0,3288836.000,0,1,1,0,11146.666667,33440.0
288,mixed use property,downtown,47.60821,-122.33899,1910,1.0,5,0,79920,NaN,3009463.750,0,1,0,1,15984.000000,79920.0

----TAIL ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
3371,small- and mid-sized office,greater duwamish,47.56722,-122.31154,1990,1.0,1,0,12294,46.0,8.497457e+05,0,1,1,0,12294.0,12294.0
3372,other,downtown,47.59625,-122.32283,2004,1.0,1,0,16000,NaN,9.502762e+05,0,1,1,1,16000.0,16000.0
3373,other,magnolia / queen anne,47.63644,-122.35784,1974,1.0,1,0,13157,NaN,5.765898e+06,0,1,1,1,13157.0,13157.0
3374,mixed use property,greater duwamish,47.52832,-122.32431,1989,1.0,1,0,14101,NaN,7.194712e+05,0,1,1,1,14101.0,14101.0
3375,mixed use property,greater duwamish,47.53939,-122.29536,1938,1.0,1,0,18258,NaN,1.152896e+06,0,1,1,1,18258.0,18258.0

## 2.2 Structure

In [30]:
# info :

EDA.first_tour.info(df)

'shape (3353, 17), memory 0.48MB'

'---- FLO ----'

                 cols    types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0            latitude  float64        0      0.00      2858       0.85   False
1           longitude  float64        0      0.00      2637       0.79   False
2   numberofbuildings  float64        0      0.00        16       0.00   False
3     energystarscore  float64      821      0.24       100       0.03   False
4  siteenergyuse_kbtu  float64        0      0.00      3353       1.00    True
5         gfaperfloor  float64        0      0.00      3259       0.97   False
6      gfaperbuilding  float64        0      0.00      3177       0.95   False

'---- INT ----'

                   cols  types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0             yearbuilt  int64        0       0.0       113       0.03   False
1        numberoffloors  int64        0       0.0        49       0.01   False
2    propertygfaparking  int64        0       0.0         2       0.00   False
3   propertygfabuilding  int64        0       0.0      3171       0.95   False
4         steamuse_kbtu  int64        0       0.0         2       0.00   False
5      electricity_kbtu  int64        0       0.0         2       0.00   False
6       naturalgas_kbtu  int64        0       0.0         2       0.00   False
7  bool_energystarscore  int64        0       0.0         2       0.00   False

'---- OBJ ----'

                  cols   types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0  primarypropertytype  object        0       0.0        23       0.01   False
1         neighborhood  object        0       0.0        14       0.00   False

In [31]:
# usefull dtype info :

df.dtypes.value_counts()

int64      8
float64    7
object     2
Name: count, dtype: int64

## 2.3 NaN and duplicated

In [32]:
# # mnso :

# EDA.nan.viz(df)

In [33]:
# nan rate by columns :

EDA.nan.rate(df)

energystarscore         0.245
primarypropertytype     0.000
gfaperfloor             0.000
bool_energystarscore    0.000
naturalgas_kbtu         0.000
electricity_kbtu        0.000
steamuse_kbtu           0.000
siteenergyuse_kbtu      0.000
propertygfabuilding     0.000
neighborhood            0.000
propertygfaparking      0.000
numberoffloors          0.000
numberofbuildings       0.000
yearbuilt               0.000
longitude               0.000
latitude                0.000
gfaperbuilding          0.000
dtype: float64

In [34]:
# filter on poor columns :

EDA.nan.rate(df, threshold=0.75)

Series([], dtype: float64)

In [35]:
# same for lines :

EDA.nan.rate(df, axis=1, threshold=0.5)

Series([], dtype: float64)

In [36]:
# about nan distribution by column :

EDA.nan.rate(df, axis=1, threshold=0.0).value_counts(normalize=True).round(2)

0.000    0.76
0.059    0.24
Name: proportion, dtype: float64

In [37]:
# duplicated :

df.duplicated().sum()

0

## 2.4 Data Inspection

In [38]:
# describe per type :

EDA.first_tour.describe(df)

---- FLO ----,latitude,longitude,numberofbuildings,energystarscore,siteenergyuse_kbtu,gfaperfloor,gfaperbuilding
count,3353.00,3353.00,3353.00,2532.00,3.353000e+03,3353.00,3353.00
mean,47.62,-122.33,1.13,67.91,5.432676e+06,26236.25,79907.18
std,0.05,0.03,2.11,26.87,2.166494e+07,166585.34,124694.68
min,47.50,-122.41,1.00,1.00,1.340900e+04,221.70,3636.00
25%,47.60,-122.35,1.00,53.00,9.353967e+05,8334.83,27140.00
50%,47.62,-122.33,1.00,75.00,1.813404e+06,13255.00,41834.00
75%,47.66,-122.32,1.00,90.00,4.233753e+06,24750.50,79957.00
max,47.73,-122.22,111.00,100.00,8.739237e+08,9320156.00,2200000.00

---- INT ----,yearbuilt,numberoffloors,propertygfaparking,propertygfabuilding,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore
count,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00
mean,1968.57,4.73,0.15,86605.34,0.04,1.00,0.63,0.24
std,33.14,5.51,0.36,207382.71,0.19,0.05,0.48,0.43
min,1900.00,1.00,0.00,3636.00,0.00,0.00,0.00,0.00
25%,1948.00,2.00,0.00,27690.00,0.00,1.00,0.00,0.00
50%,1975.00,4.00,0.00,43162.00,0.00,1.00,1.00,0.00
75%,1997.00,5.00,0.00,84385.00,0.00,1.00,1.00,0.00
max,2015.00,99.00,1.00,9320156.00,1.00,1.00,1.00,1.00

---- OBJ ----   primarypropertytype neighborhood
count                          3353         3353
unique                           23           14
top            low-rise multifamily     downtown
freq                            983          570

In [39]:
# # global correlation :

# _ = EDA.study.corr(df)

In [40]:
# # about distribution :

# EDA.study.skew(df)

In [41]:
# # pairplot :
# # WARNING : very long computation, avoid if possible else uncomment

# frac = 0.05
# sns.pairplot(df.sample(frac=frac), corner=True)

In [42]:
# # about outliers :

# EDA.study.outlier(df)

In [43]:
# # multi colinearity :

# EDA.study.vif(df, scale=True)

# 2.5 ACP

In [44]:
# _df = EDA.study.outlier(df, display_=False)
# _df = _df.loc[_df._outlier<0.5]
# _df.shape

In [45]:
# X = _df.drop(columns="siteenergyuse_kbtu")
# y = _df.siteenergyuse_kbtu

In [46]:
# pca = EDA.pca(X)

In [47]:
# _ = pca.variance()

In [48]:
# _ = pca.pcs()

In [49]:
# pca.correlation_graph([0, 1])

In [50]:
# pca.factorial_planes([0, 1])

In [51]:
# pca.factorial_planes([0, 1], clusters="primarypropertytype")

In [52]:
# pca.factorial_planes([0, 1, 2])

In [53]:
# pca.factorial_planes([0, 1, 2], clusters="primarypropertytype")

In [54]:
# pca.factorial_planes([0, 1, 2], clusters="neighborhood")

# 3. Modelisation

In [55]:
## data split

In [56]:
df

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,hotel,downtown,47.61220,-122.33799,1927,1.0,12,0,88434,60.0,7.226362e+06,1,1,1,0,7369.500000,88434.0
1,hotel,downtown,47.61317,-122.33393,1996,1.0,11,1,88502,61.0,8.387933e+06,0,1,1,0,8045.636364,88502.0
2,hotel,downtown,47.61393,-122.33810,1969,1.0,41,1,759392,43.0,7.258702e+07,1,1,1,0,18521.756098,759392.0
3,hotel,downtown,47.61412,-122.33664,1926,1.0,10,0,61320,56.0,6.794584e+06,1,1,1,0,6132.000000,61320.0
4,hotel,downtown,47.61375,-122.34047,1980,1.0,18,1,113580,75.0,1.417261e+07,0,1,1,0,6310.000000,113580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,small- and mid-sized office,greater duwamish,47.56722,-122.31154,1990,1.0,1,0,12294,46.0,8.497457e+05,0,1,1,0,12294.000000,12294.0
3372,other,downtown,47.59625,-122.32283,2004,1.0,1,0,16000,NaN,9.502762e+05,0,1,1,1,16000.000000,16000.0
3373,other,magnolia / queen anne,47.63644,-122.35784,1974,1.0,1,0,13157,NaN,5.765898e+06,0,1,1,1,13157.000000,13157.0
3374,mixed use property,greater duwamish,47.52832,-122.32431,1989,1.0,1,0,14101,NaN,7.194712e+05,0,1,1,1,14101.000000,14101.0
3375,mixed use property,greater duwamish,47.53939,-122.29536,1938,1.0,1,0,18258,NaN,1.152896e+06,0,1,1,1,18258.000000,18258.0

In [57]:
data = Data.dataclass(df, "siteenergyuse_kbtu", test_size=0.33)
data

(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)
(0, 2246)
(2246, None)
(-1, -1)

/home/alex/gargaml/gargaml/data/dataclass.py:38: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._train_tuple = train_tuple

DataClass(X=3353, train.X=2246, X.train=2246
X_train_size=2246, X_test_size=1107, X_val_size=0
y_train_size=2246, y_test_size=1107, y_val_size=0 )

In [58]:
data.X

(0, 2246)
(2246, None)
(-1, -1)

XX()

In [59]:
data.y

YY()

In [60]:
data.train.X

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
365,supermarket / grocery store,northwest,47.72803,-122.34214,1984,1.0,1,0,144776,56.0,0,1,1,0,144776.000000,144776.0
1461,low-rise multifamily,northwest,47.72526,-122.35608,1968,1.0,3,0,26159,76.0,0,1,0,0,8719.666667,26159.0
2708,small- and mid-sized office,downtown,47.59954,-122.33115,1900,1.0,3,0,26830,NaN,0,1,1,1,8943.333333,26830.0
2387,low-rise multifamily,northeast,47.67598,-122.30201,2005,1.0,4,0,30918,29.0,0,1,0,0,7729.500000,30918.0
2908,low-rise multifamily,magnolia / queen anne,47.62698,-122.34730,2002,1.0,4,0,58359,61.0,0,1,1,0,14589.750000,58359.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2755,mid-rise multifamily,downtown,47.60071,-122.32570,1991,1.0,5,0,97737,85.0,0,1,1,0,19547.400000,97737.0
2632,small- and mid-sized office,lake union,47.64830,-122.33438,1981,1.0,3,1,20660,92.0,0,1,0,0,6886.666667,20660.0
144,hotel,lake union,47.62972,-122.32906,1998,1.0,5,1,93920,79.0,0,1,1,0,18784.000000,93920.0
1546,low-rise multifamily,southeast,47.53628,-122.27074,1962,1.0,3,0,43330,47.0,0,1,0,0,14443.333333,43330.0
247,large office,downtown,47.61695,-122.32965,1988,1.0,20,1,378769,65.0,0,1,1,0,18938.450000,378769.0

In [61]:
data.train.y

365     1.342408e+07
1461    6.775363e+05
2708    2.099387e+06
2387    8.440003e+05
2908    1.941364e+06
            ...
2755    2.747173e+06
2632    7.201707e+05
144     9.373179e+06
1546    1.332927e+06
247     2.682322e+07
Name: siteenergyuse_kbtu, Length: 2246, dtype: float64

In [62]:
token = secrets.token_hex(4)
display(token)

pipe = Pipeline(
    [
        ("imputer", KNNImputer()),
        ("scaler", StandardScaler()),
        ("estimator", RandomForestClassifier()),
    ]
)

param_grid = {
    "scaler": [
        StandardScaler(),
        # QuantileTransformer(n_quantiles=100),
        # Normalizer(),
        "passthrough",
    ],
    "estimator": [
        DummyRegressor(),
        # RandomForestRegressor(),
        # XGBRegressor(),
        LinearRegression(),
    ],
}

grid = GridSearchCV(
    pipe,
    param_grid=param_grid,
    cv=3,
    n_jobs=1,
    verbose=1,
    return_train_score=True,
)

grid

'e0d37622'

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('imputer', KNNImputer()),
                                       ('scaler', StandardScaler()),
                                       ('estimator',
                                        RandomForestClassifier())]),
             n_jobs=1,
             param_grid={'estimator': [DummyRegressor(), LinearRegression()],
                         'scaler': [StandardScaler(), 'passthrough']},
             return_train_score=True, verbose=1)

In [63]:
grid.fit(
    data.X.train.select_dtypes(include=np.number),
    data.y.train)

(0, 2246)
(2246, None)
(-1, -1)
Fitting 5 folds for each of 4 candidates, totalling 20 fits

/home/alex/gargaml/gargaml/data/dataclass.py:38: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._train_tuple = train_tuple

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('imputer', KNNImputer()),
                                       ('scaler', StandardScaler()),
                                       ('estimator',
                                        RandomForestClassifier())]),
             n_jobs=1,
             param_grid={'estimator': [DummyRegressor(), LinearRegression()],
                         'scaler': [StandardScaler(), 'passthrough']},
             return_train_score=True, verbose=1)

In [64]:
results.append(
    grid,
    token=token,
    y_log=0,
    get_dummies=0,
    verbose=0,
).head(5)

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
0,0.0575,0.0041,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",1.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), StandardScaler(), LinearRegress...",2023-04-28 20:00:33,85bb7075,,0a399711,0,0,0.2673,0.5341,0.8313,0.0991
1,0.0575,0.0041,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",1.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), StandardScaler(), LinearRegress...",2023-04-28 20:00:33,85bb7075,,0a399711,0,0,0.2673,0.5341,0.8313,0.0991

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
2,0.06,0.00,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",1.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), StandardScaler(), LinearRegress...",2023-04-28 20:00:33,85bb7075,,0a399711,0,0,0.27,0.53,0.83,0.1
3,0.06,0.01,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",2.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), StandardScaler(), LinearRegress...",2023-04-28 20:00:33,85bb7075,,0a399711,0,0,0.27,0.53,0.83,0.1
0,0.06,0.00,DummyRegressor(),StandardScaler(),"{'estimator': DummyRegressor(), 'scaler': Stan...",3.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), StandardScaler(), LinearRegress...",2023-04-28 20:00:33,85bb7075,,0a399711,0,0,-0.00,0.00,0.00,0.0
1,0.05,0.00,DummyRegressor(),passthrough,"{'estimator': DummyRegressor(), 'scaler': 'pas...",3.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), StandardScaler(), LinearRegress...",2023-04-28 20:00:33,85bb7075,,0a399711,0,0,-0.00,0.00,0.00,0.0

In [65]:
results

Empty Results
Columns: []
Index: []

In [66]:
results.values

array([], shape=(0, 0), dtype=float64)

In [67]:
1/0

ZeroDivisionError: division by zero

In [ ]:

grid.fit(
    data.X.train.select_dtypes(include=np.number),
    np.log1p(
        data.y.train,
    ),
)
results.append(
    grid,
    token=token,
    y_log=1,
    get_dummies=0,
    verbose=1,
).head(5)

In [ ]:

grid.fit(
    pd.get_dummies(data.X.train.select_dtypes(include=np.number)),
    data.y.train,
)
results.append(
    grid,
    token=token,
    y_log=0,
    get_dummies=0,
    verbose=1,
).head(5)

grid.fit(
    pd.get_dummies(data.X.train.select_dtypes(include=np.number)),
    np.log1p(
        data.y.train,
    ),
)
results.append(
    grid,
    token=token,
    y_log=1,
    get_dummies=1,
    verbose=1,
).head(5)

In [ ]:
results.columns

In [ ]:
results._name

In [ ]:
res = ML.results("rtyui")