# 1 Preliminaries

## 1.0 Context

* About Seattle dataframe 
* Small dÃ©mo of gargaml usage

## 1.1 System

In [1]:
!pwd

/home/alex/gargaml/examples

In [2]:
cd ..

/home/alex/gargaml

In [3]:
!pwd

/home/alex/gargaml

In [4]:
!ls

build	      env		LICENSE		requirements.txt  utils
CHANGELOG.md  examples		models		results
dist	      gargaml		pyproject.toml	setup.py
docs	      gargaml.egg-info	README.md	tests

In [5]:
!uname -a

Linux asus2020 5.15.0-67-generic #74~20.04.1-Ubuntu SMP Wed Feb 22 14:52:34 UTC 2023 x86_64 x86_64 x86_64 GNU/Linux

In [6]:
!which python

/home/alex/gargaml/env/bin/python

## 1.2 Install

In [7]:
# if needed :

# !pip install -r requirements.txt

In [8]:
# if needed :

# !pip freeze > requirements.freeze

## 1.3 Import

In [9]:
# in one line :

from gargaml import *

WARNING:root:path is /home/alex/gargaml

In [10]:
# or manually :

# import random, os, sys, warnings, datetime, time, logging
# from IPython.display import display
# # pandarallel

# import pandas as pd
# import numpy as np

# import scipy as sp
# import scipy.stats as st

# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# from plotly.subplots import make_subplots
# import plotly.graph_objects as go
# import plotly.io as pio
# import missingno as msno


# from sklearn.base import *

# from sklearn.feature_selection import *
# from sklearn.feature_extraction import *
# from sklearn.preprocessing import *
# from sklearn.pipeline import *
# from sklearn.covariance import *
# from sklearn.decomposition import *
# from sklearn.model_selection import *
# from sklearn.impute import *
# from sklearn.metrics import *
# from sklearn.cluster import *
# from sklearn.compose import *

# from sklearn.dummy import *
# from sklearn.linear_model import *
# from sklearn.svm import *
# from sklearn.neighbors import *
# from sklearn.ensemble import *


# from imblearn.under_sampling import RandomUnderSampler
# from imblearn.pipeline import Pipeline

# from xgboost import XGBRegressor, XGBRFRegressor

# ...

## 1.4 Data

In [11]:
# all datasets avialable :

# Data.load.list_all

In [12]:
# seattle 2016 :

df = Data.Load.seattle(year="2016", preclean=True)
df.head(2)

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1,13,0,88434,60.0,7226362.5,1,1,1,0,6802.615385,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1,12,1,88502,61.0,8387933.0,0,1,1,0,7375.166667,88502.0

## 1.5 Options and Graphics

In [13]:
# boot seaborn  :

sns.set()

In [14]:
# usefull consts :

DISPLAY = True
FRAC = 1.0
LAZY = False

In [15]:
# warning messages :

warnings.filterwarnings(action="once")

# or :
# warnings.filterwarnings('ignore')

In [16]:
# if png and not fancy graphs with plotly :

# pio.renderers.default = "png"

## 1.6 Third parties and utils

In [17]:
# placeholder

In [18]:
results = ML.results("test")

## 1.7 Functions and class

In [19]:
# placeholder

# 2 First Tour

## 2.1 Display

In [20]:
# display df :

EDA.first_tour.display(df)

----HEAD ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1,13,0,88434,60.0,7226362.5,1,1,1,0,6802.615385,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1,12,1,88502,61.0,8387933.0,0,1,1,0,7375.166667,88502.0
2,Hotel,DOWNTOWN,47.61393,-122.33810,1969,1,42,1,759392,43.0,72587024.0,1,1,1,0,18080.761905,759392.0
3,Hotel,DOWNTOWN,47.61412,-122.33664,1926,1,11,0,61320,56.0,6794584.0,1,1,1,0,5574.545455,61320.0
4,Hotel,DOWNTOWN,47.61375,-122.34047,1980,1,19,1,113580,75.0,14172606.0,0,1,1,0,5977.894737,113580.0

----SAMP ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
2725,Low-Rise Multifamily,CENTRAL,47.59609,-122.28666,1959,1,5,0,25966,34.0,9.426367e+05,0,1,0,0,5193.200000,25966.0
799,High-Rise Multifamily,DOWNTOWN,47.61678,-122.34698,1990,1,27,0,321050,32.0,1.416873e+07,0,1,1,0,11890.740741,321050.0
3294,Other,NORTHEAST,47.66414,-122.31664,2014,1,4,0,33648,NaN,1.399582e+06,0,1,0,1,8412.000000,33648.0
803,Mid-Rise Multifamily,DOWNTOWN,47.61399,-122.34724,1908,1,6,0,48786,87.0,9.686983e+05,0,1,0,0,8131.000000,48786.0
248,Large Office,DOWNTOWN,47.61431,-122.34244,1979,1,25,1,427155,79.0,2.530774e+07,0,1,0,0,17086.200000,427155.0
24,University,DOWNTOWN,47.61816,-122.33629,1928,1,8,0,126593,NaN,1.134369e+07,0,1,1,1,15824.125000,126593.0
1287,Mid-Rise Multifamily,LAKE UNION,47.61942,-122.33753,2013,1,8,1,75654,100.0,2.156625e+06,0,1,1,0,9456.750000,75654.0
2632,Small- and Mid-Sized Office,LAKE UNION,47.64830,-122.33438,1981,1,4,1,20660,92.0,7.201707e+05,0,1,0,0,5165.000000,20660.0
2862,Other,EAST,47.61314,-122.32262,1912,1,4,0,33708,NaN,7.863240e+05,1,1,1,1,8427.000000,33708.0
738,Mid-Rise Multifamily,DOWNTOWN,47.61612,-122.34973,2009,1,8,0,40329,NaN,3.696785e+06,0,1,1,1,5041.125000,40329.0

----TAIL ----,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
3371,Office,GREATER DUWAMISH,47.56722,-122.31154,1990,1,2,0,12294,46.0,8.497457e+05,0,1,1,0,6147.0,12294.0
3372,Other,DOWNTOWN,47.59625,-122.32283,2004,1,2,0,16000,NaN,9.502762e+05,0,1,1,1,8000.0,16000.0
3373,Other,MAGNOLIA / QUEEN ANNE,47.63644,-122.35784,1974,1,2,0,13157,NaN,5.765898e+06,0,1,1,1,6578.5,13157.0
3374,Mixed Use Property,GREATER DUWAMISH,47.52832,-122.32431,1989,1,2,0,14101,NaN,7.194712e+05,0,1,1,1,7050.5,14101.0
3375,Mixed Use Property,GREATER DUWAMISH,47.53939,-122.29536,1938,1,2,0,18258,NaN,1.152896e+06,0,1,1,1,9129.0,18258.0

## 2.2 Structure

In [21]:
# info :

EDA.first_tour.info(df)

'shape (3353, 17), memory 0.48MB'

'---- FLO ----'

                 cols    types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0            latitude  float64        0      0.00      2858       0.85   False
1           longitude  float64        0      0.00      2637       0.79   False
2     energystarscore  float64      821      0.24       100       0.03   False
3  siteenergyuse_kbtu  float64        0      0.00      3353       1.00    True
4         gfaperfloor  float64        0      0.00      3238       0.97   False
5      gfaperbuilding  float64        0      0.00      3177       0.95   False

'---- INT ----'

                   cols  types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0             yearbuilt  int64        0       0.0       113       0.03   False
1     numberofbuildings  int64        0       0.0        16       0.00   False
2        numberoffloors  int64        0       0.0        50       0.01   False
3    propertygfaparking  int64        0       0.0         2       0.00   False
4   propertygfabuilding  int64        0       0.0      3171       0.95   False
5         steamuse_kbtu  int64        0       0.0         2       0.00   False
6      electricity_kbtu  int64        0       0.0         2       0.00   False
7       naturalgas_kbtu  int64        0       0.0         2       0.00   False
8  bool_energystarscore  int64        0       0.0         2       0.00   False

'---- OBJ ----'

                  cols   types  nan_sum  nan_mean  uniq_sum  uniq_rate  is_sku
0  primarypropertytype  object        0       0.0        24       0.01   False
1         neighborhood  object        0       0.0        19       0.01   False

In [22]:
# usefull dtype info :

df.dtypes.value_counts()

int64      9
float64    6
object     2
Name: count, dtype: int64

## 2.3 NaN and duplicated

In [23]:
# # mnso :

# EDA.nan.viz(df)

In [24]:
# nan rate by columns :

EDA.nan.rate(df)

energystarscore         0.245
primarypropertytype     0.000
gfaperfloor             0.000
bool_energystarscore    0.000
naturalgas_kbtu         0.000
electricity_kbtu        0.000
steamuse_kbtu           0.000
siteenergyuse_kbtu      0.000
propertygfabuilding     0.000
neighborhood            0.000
propertygfaparking      0.000
numberoffloors          0.000
numberofbuildings       0.000
yearbuilt               0.000
longitude               0.000
latitude                0.000
gfaperbuilding          0.000
dtype: float64

In [25]:
# filter on poor columns :

EDA.nan.rate(df, threshold=0.75)

Series([], dtype: float64)

In [26]:
# same for lines :

EDA.nan.rate(df, axis=1, threshold=0.5)

Series([], dtype: float64)

In [27]:
# about nan distribution by column :

EDA.nan.rate(df, axis=1, threshold=0.0).value_counts(normalize=True).round(2)

0.000    0.76
0.059    0.24
Name: proportion, dtype: float64

In [28]:
# duplicated :

df.duplicated().sum()

0

## 2.4 Data Inspection

In [29]:
# describe per type :

EDA.first_tour.describe(df)

---- FLO ----,latitude,longitude,energystarscore,siteenergyuse_kbtu,gfaperfloor,gfaperbuilding
count,3353.00,3353.00,2532.00,3.353000e+03,3353.00,3353.00
mean,47.62,-122.33,67.91,5.432676e+06,19462.58,79907.18
std,0.05,0.03,26.87,2.166494e+07,164480.77,124694.68
min,47.50,-122.41,1.00,1.340900e+04,219.48,3636.00
25%,47.60,-122.35,53.00,9.353967e+05,6636.20,27140.00
50%,47.62,-122.33,75.00,1.813404e+06,10240.63,41834.00
75%,47.66,-122.32,90.00,4.233753e+06,17165.50,79957.00
max,47.73,-122.22,100.00,8.739237e+08,9320156.00,2200000.00

---- INT ----,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore
count,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00,3353.00
mean,1968.57,1.13,5.72,0.15,86605.34,0.04,1.00,0.63,0.24
std,33.14,2.11,5.51,0.36,207382.71,0.19,0.05,0.48,0.43
min,1900.00,1.00,1.00,0.00,3636.00,0.00,0.00,0.00,0.00
25%,1948.00,1.00,3.00,0.00,27690.00,0.00,1.00,0.00,0.00
50%,1975.00,1.00,5.00,0.00,43162.00,0.00,1.00,1.00,0.00
75%,1997.00,1.00,6.00,0.00,84385.00,0.00,1.00,1.00,0.00
max,2015.00,111.00,100.00,1.00,9320156.00,1.00,1.00,1.00,1.00

---- OBJ ----   primarypropertytype neighborhood
count                          3353         3353
unique                           24           19
top            Low-Rise Multifamily     DOWNTOWN
freq                            983          570

In [30]:
# # global correlation :

# _ = EDA.study.corr(df)

In [31]:
# # about distribution :

# EDA.study.skew(df)

In [32]:
# # pairplot :
# # WARNING : very long computation, avoid if possible else uncomment

# frac = 0.05
# sns.pairplot(df.sample(frac=frac), corner=True)

In [33]:
# # about outliers :

# EDA.study.outlier(df)

In [34]:
# # multi colinearity :

# EDA.study.vif(df, scale=True)

# 2.5 ACP

In [35]:
# _df = EDA.study.outlier(df, display_=False)
# _df = _df.loc[_df._outlier<0.5]
# _df.shape

In [36]:
# X = _df.drop(columns="siteenergyuse_kbtu")
# y = _df.siteenergyuse_kbtu

In [37]:
# pca = EDA.pca(X)

In [38]:
# _ = pca.variance()

In [39]:
# _ = pca.pcs()

In [40]:
# pca.correlation_graph([0, 1])

In [41]:
# pca.factorial_planes([0, 1])

In [42]:
# pca.factorial_planes([0, 1], clusters="primarypropertytype")

In [43]:
# pca.factorial_planes([0, 1, 2])

In [44]:
# pca.factorial_planes([0, 1, 2], clusters="primarypropertytype")

In [45]:
# pca.factorial_planes([0, 1, 2], clusters="neighborhood")

# 3. Modelisation

In [46]:
## data split

In [47]:
df

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,energystarscore,siteenergyuse_kbtu,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1,13,0,88434,60.0,7.226362e+06,1,1,1,0,6802.615385,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1,12,1,88502,61.0,8.387933e+06,0,1,1,0,7375.166667,88502.0
2,Hotel,DOWNTOWN,47.61393,-122.33810,1969,1,42,1,759392,43.0,7.258702e+07,1,1,1,0,18080.761905,759392.0
3,Hotel,DOWNTOWN,47.61412,-122.33664,1926,1,11,0,61320,56.0,6.794584e+06,1,1,1,0,5574.545455,61320.0
4,Hotel,DOWNTOWN,47.61375,-122.34047,1980,1,19,1,113580,75.0,1.417261e+07,0,1,1,0,5977.894737,113580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,Office,GREATER DUWAMISH,47.56722,-122.31154,1990,1,2,0,12294,46.0,8.497457e+05,0,1,1,0,6147.000000,12294.0
3372,Other,DOWNTOWN,47.59625,-122.32283,2004,1,2,0,16000,NaN,9.502762e+05,0,1,1,1,8000.000000,16000.0
3373,Other,MAGNOLIA / QUEEN ANNE,47.63644,-122.35784,1974,1,2,0,13157,NaN,5.765898e+06,0,1,1,1,6578.500000,13157.0
3374,Mixed Use Property,GREATER DUWAMISH,47.52832,-122.32431,1989,1,2,0,14101,NaN,7.194712e+05,0,1,1,1,7050.500000,14101.0
3375,Mixed Use Property,GREATER DUWAMISH,47.53939,-122.29536,1938,1,2,0,18258,NaN,1.152896e+06,0,1,1,1,9129.000000,18258.0

In [48]:
# data = Data.dataclass(df, "siteenergyuse_kbtu", test_size=0.33)
# data

In [49]:
df.primarypropertytype.value_counts(normalize=True)


idx = df.primarypropertytype.str.contains("Multifamily")
df =df.loc[~idx]

df.primarypropertytype.value_counts(normalize=True)

primarypropertytype
Small- and Mid-Sized Office    0.171664
Other                          0.148736
Warehouse                      0.109935
Large Office                   0.101705
Mixed Use Property             0.077601
K-12 School                    0.073486
Retail Store                   0.053498
Hotel                          0.045267
Worship Facility               0.041740
Distribution Center            0.031158
Senior Care Community          0.026455
Supermarket / Grocery Store    0.023516
Medical Office                 0.022928
Self-Storage Facility          0.016461
University                     0.014697
Residence Hall                 0.013521
Refrigerated Warehouse         0.007055
Restaurant                     0.007055
Hospital                       0.005879
Laboratory                     0.005879
Office                         0.001764
Name: proportion, dtype: float64

In [71]:

target = "siteenergyuse_kbtu"


y = df["siteenergyuse_kbtu"]
X = df.drop(columns = "siteenergyuse_kbtu")
X = X.drop(columns="energystarscore")
X

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1,13,0,88434,1,1,1,0,6802.615385,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1,12,1,88502,0,1,1,0,7375.166667,88502.0
2,Hotel,DOWNTOWN,47.61393,-122.33810,1969,1,42,1,759392,1,1,1,0,18080.761905,759392.0
3,Hotel,DOWNTOWN,47.61412,-122.33664,1926,1,11,0,61320,1,1,1,0,5574.545455,61320.0
4,Hotel,DOWNTOWN,47.61375,-122.34047,1980,1,19,1,113580,0,1,1,0,5977.894737,113580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,Office,GREATER DUWAMISH,47.56722,-122.31154,1990,1,2,0,12294,0,1,1,0,6147.000000,12294.0
3372,Other,DOWNTOWN,47.59625,-122.32283,2004,1,2,0,16000,0,1,1,1,8000.000000,16000.0
3373,Other,MAGNOLIA / QUEEN ANNE,47.63644,-122.35784,1974,1,2,0,13157,0,1,1,1,6578.500000,13157.0
3374,Mixed Use Property,GREATER DUWAMISH,47.52832,-122.32431,1989,1,2,0,14101,0,1,1,1,7050.500000,14101.0
3375,Mixed Use Property,GREATER DUWAMISH,47.53939,-122.29536,1938,1,2,0,18258,0,1,1,1,9129.000000,18258.0

In [72]:
X

,primarypropertytype,neighborhood,latitude,longitude,yearbuilt,numberofbuildings,numberoffloors,propertygfaparking,propertygfabuilding,steamuse_kbtu,electricity_kbtu,naturalgas_kbtu,bool_energystarscore,gfaperfloor,gfaperbuilding
0,Hotel,DOWNTOWN,47.61220,-122.33799,1927,1,13,0,88434,1,1,1,0,6802.615385,88434.0
1,Hotel,DOWNTOWN,47.61317,-122.33393,1996,1,12,1,88502,0,1,1,0,7375.166667,88502.0
2,Hotel,DOWNTOWN,47.61393,-122.33810,1969,1,42,1,759392,1,1,1,0,18080.761905,759392.0
3,Hotel,DOWNTOWN,47.61412,-122.33664,1926,1,11,0,61320,1,1,1,0,5574.545455,61320.0
4,Hotel,DOWNTOWN,47.61375,-122.34047,1980,1,19,1,113580,0,1,1,0,5977.894737,113580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,Office,GREATER DUWAMISH,47.56722,-122.31154,1990,1,2,0,12294,0,1,1,0,6147.000000,12294.0
3372,Other,DOWNTOWN,47.59625,-122.32283,2004,1,2,0,16000,0,1,1,1,8000.000000,16000.0
3373,Other,MAGNOLIA / QUEEN ANNE,47.63644,-122.35784,1974,1,2,0,13157,0,1,1,1,6578.500000,13157.0
3374,Mixed Use Property,GREATER DUWAMISH,47.52832,-122.32431,1989,1,2,0,14101,0,1,1,1,7050.500000,14101.0
3375,Mixed Use Property,GREATER DUWAMISH,47.53939,-122.29536,1938,1,2,0,18258,0,1,1,1,9129.000000,18258.0

In [73]:
y

0       7.226362e+06
1       8.387933e+06
2       7.258702e+07
3       6.794584e+06
4       1.417261e+07
            ...
3371    8.497457e+05
3372    9.502762e+05
3373    5.765898e+06
3374    7.194712e+05
3375    1.152896e+06
Name: siteenergyuse_kbtu, Length: 1701, dtype: float64

In [74]:
# data.y

In [75]:
# data.train.X

In [76]:
# data.train.y

In [77]:
token = secrets.token_hex(4)
display(token)

pipe = Pipeline(
    [
        ("imputer", KNNImputer()),
        ("scaler", StandardScaler()),
        ("estimator", RandomForestClassifier()),
    ]
)

param_grid = {

    # "imputer"  : [KNNImputer(), SimpleImputer()],
    "scaler": [
        # StandardScaler(),
        # QuantileTransformer(n_quantiles=100),
        # Normalizer(),
        "passthrough",
    ],
    "estimator": [
        # DummyRegressor(),
        RandomForestRegressor(),
        # XGBRegressor(),
        LinearRegression(),
    ],
}

'8ebd1ba7'

In [78]:
grid = GridSearchCV(
    pipe,
    param_grid=param_grid,
    cv=ShuffleSplit(10, test_size=0.3),
    n_jobs=1,
    verbose=2,
    return_train_score=True,
)



grid.fit(X.select_dtypes(include=np.number), y)

results.update(
    grid,
    token=token,
    y_log=0,
    get_dummies=0,
    verbose=0,

).head(5)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.5s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.4s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.4s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.3s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.2s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.3s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.4s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.4s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.5s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.4s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.1s

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
1,0.02,0.01,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, LinearRegression())",2023-05-22 10:55:54,9df70f23,,bee4d11b,0,0,0.35,0.23,0.69,0.14
0,1.34,0.09,RandomForestRegressor(),passthrough,"{'estimator': RandomForestRegressor(), 'scaler...",2.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, LinearRegression())",2023-05-22 10:55:54,9df70f23,,bee4d11b,0,0,0.29,0.33,0.92,0.01

In [79]:

grid = GridSearchCV(
    pipe,
    param_grid=param_grid,
    cv=ShuffleSplit(10, test_size=0.3),
    n_jobs=1,
    verbose=2,
    return_train_score=True,
)



grid.fit(X.select_dtypes(include=np.number), np.log1p(y))

results.update(
    grid,
    token=token,
    y_log=1,
    get_dummies=0,
    verbose=0,
).head(5)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.5s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.3s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.4s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.3s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.3s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.2s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.2s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.1s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.2s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.2s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.1s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.1s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.1s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.1s

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
0,1.23,0.11,RandomForestRegressor(),passthrough,"{'estimator': RandomForestRegressor(), 'scaler...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:56:10,f709a6f3,,687ffad5,1,0,0.61,0.02,0.94,0.00
1,0.04,0.02,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",2.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:56:10,f709a6f3,,687ffad5,1,0,-0.52,1.47,0.47,0.01

In [80]:
# results = Res

In [83]:

grid = GridSearchCV(
    pipe,
    param_grid=param_grid,
    cv=ShuffleSplit(10, test_size=0.3),
    n_jobs=1,
    verbose=2,
    return_train_score=True,
)



grid.fit(pd.get_dummies(X), np.log1p(y))

results.update(
    grid,
    token=token,
    y_log=1,
    get_dummies=1,
    verbose=0,
).head(5)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.9s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   2.0s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.7s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.8s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.9s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   2.1s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.7s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.8s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.8s
[CV] END estimator=RandomForestRegressor(), scaler=passthrough; total time=   1.8s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.1s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.2s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.2s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.2s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.3s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.2s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.1s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s
[CV] END ...estimator=LinearRegression(), scaler=passthrough; total time=   0.0s

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
0,1.81,0.13,RandomForestRegressor(),passthrough,"{'estimator': RandomForestRegressor(), 'scaler...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:57:18,59e11f06,,01bce7ba,1,1,0.67,0.01,0.96,0.00
1,0.10,0.06,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",2.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:57:18,59e11f06,,01bce7ba,1,1,0.37,0.54,0.62,0.01

In [ ]:

grid = GridSearchCV(
    pipe,
    param_grid=param_grid,
    cv=ShuffleSplit(10, test_size=0.3),
    n_jobs=1,
    verbose=2,
    return_train_score=True,
)



grid.fit(pd.get_dummies(X), y)

results.update(
    grid,
    token=token,
    y_log=0,
    get_dummies=1,
    verbose=0,
).head(5)

In [81]:
results.res

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
0,1.2250,0.1107,RandomForestRegressor(),passthrough,"{'estimator': RandomForestRegressor(), 'scaler...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:56:10,f709a6f3,,687ffad5,1,0,0.6055,0.0159,0.9431,0.0016
1,0.0399,0.0245,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",2.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:56:10,f709a6f3,,687ffad5,1,0,-0.5249,1.4744,0.4697,0.0092

In [82]:
results.RES

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,...,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score,run,exp,date
0,1.4151,0.0802,RandomForestRegressor(),passthrough,"{'estimator': RandomForestRegressor(), 'scaler...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:54:22,dbce80e9,...,373efd1f,1,0,0.6428,0.0242,0.9505,0.0015,NaN,NaN,NaN
6,1.2250,0.1107,RandomForestRegressor(),passthrough,"{'estimator': RandomForestRegressor(), 'scaler...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, (DecisionTreeRegre...",2023-05-22 10:56:10,f709a6f3,...,687ffad5,1,0,0.6055,0.0159,0.9431,0.0016,NaN,NaN,NaN
1,1.6292,0.0604,RandomForestRegressor(),QuantileTransformer(n_quantiles=100),"{'estimator': RandomForestRegressor(), 'scaler...",1.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), QuantileTransformer(n_quantiles...",2023-05-22 10:50:05,3c3b7f39,...,9eec3490,1,0,0.5182,0.1029,0.9507,0.0057,0f12be9a,268c1b01,2023-05-22 10:48:13
2,0.1118,0.0342,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, LinearRegression())",2023-05-22 10:53:48,33b829fe,...,24a3522d,0,0,0.4848,0.3230,0.7582,0.0391,NaN,NaN,NaN
3,0.0179,0.0116,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",1.0,"GridSearchCV(cv=ShuffleSplit(n_splits=10, rand...","(KNNImputer(), passthrough, LinearRegression())",2023-05-22 10:55:54,9df70f23,...,bee4d11b,0,0,0.3537,0.2302,0.6941,0.1397,NaN,NaN,NaN
4,0.1774,0.0267,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",2.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-22 10:49:17,410a5a99,...,e4ca8694,0,0,0.3131,0.3371,0.7362,0.1076,0f12be9a,268c1b01,2023-05-22 10:48:13
5,0.1916,0.0687,LinearRegression(),passthrough,"{'estimator': LinearRegression(), 'scaler': 'p...",1.0,"GridSearchCV(cv=20,\n estimator=Pi...","(KNNImputer(), passthrough, LinearRegression())",2023-05-22 10:52:02,7c34a6d9,...,4755cb94,0,0,0.0781,0.7003,0.7412,0.0520,NaN,NaN,NaN

In [62]:
# token = secrets.token_hex(4)
# display(token)


# ##############


# pipe = Pipeline(
#     [
#         ("imputer", KNNImputer()),
#         ("scaler", StandardScaler()),
#         ("estimator", RandomForestClassifier()),
#     ]
# )


# ##############


# param_grid = {
#     "scaler": [
#         StandardScaler(),
#         QuantileTransformer(n_quantiles=100),
#         Normalizer(),
#         "passthrough",
#     ],
#     "estimator": [
#         DummyRegressor(),
#         RandomForestRegressor(),
#         XGBRegressor(),
#         LinearRegression(),
#     ],
# }


# ##############


# log_list = [
#     (0, data.y.train),
#     (1, np.log1p(data.y.train)),
# ]
# dummies = [
#     (0, data.X.train.select_dtypes(include=np.number)),
#     (1, pd.get_dummies(data.X.train)),
# ]


# for log, _y in log_list:
#     for dummy, _X in dummies:

#         logging.warning(log)
#         logging.warning(dummy)

#         grid = GridSearchCV(
#             pipe,
#             param_grid=param_grid,
#             cv=10,
#             n_jobs=1,
#             verbose=1,
#             return_train_score=True,
#         )

#         grid.fit(_X, _y)

#         results.update(
#             grid,
#             token=token,
#             y_log=log,
#             get_dummies=dummy,
#             verbose=1,
#         ).head(5)

In [63]:
results.RES

,mean_fit_time,std_fit_time,param_estimator,param_scaler,params,rank_val_score,grid,best_estimator_,datetime,token,cell,model_id,y_log,get_dummies,mean_val_score,std_val_score,mean_train_score,std_train_score
1,1.6292,0.0604,RandomForestRegressor(),QuantileTransformer(n_quantiles=100),"{'estimator': RandomForestRegressor(), 'scaler...",1.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), QuantileTransformer(n_quantiles...",2023-05-22 10:50:05,3c3b7f39,,9eec3490,1,0,0.5182,0.1029,0.9507,0.0057
0,0.1774,0.0267,LinearRegression(),StandardScaler(),"{'estimator': LinearRegression(), 'scaler': St...",2.0,"GridSearchCV(cv=5,\n estimator=Pip...","(KNNImputer(), passthrough, LinearRegression())",2023-05-22 10:49:17,410a5a99,,e4ca8694,0,0,0.3131,0.3371,0.7362,0.1076

In [64]:
results.save()